body { background: #713374; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 51px; display: flex; }
.block-logger-0 { color: #a458bd; font-size: 19px; margin-bottom: 5px; }
.block-sms-1 { color: #eca7a8; font-size: 15px; margin-bottom: 5px; }
.block-email-2 { color: #84dc0f; font-size: 15px; margin-bottom: 5px; }
.block-user-3 { color: #6d80cb; font-size: 15px; margin-bottom: 5px; }
.block-router-4 { color: #d5ee8f; font-size: 14px; margin-bottom: 5px; }
.block-validator-5 { color: #b4123d; font-size: 17px; margin-bottom: 5px; }
.block-token-6 { color: #dee341; font-size: 21px; margin-bottom: 5px; }
.block-filter-7 { color: #cefc36; font-size: 16px; margin-bottom: 5px; }
.block-validator-8 { color: #7a8e50; font-size: 20px; margin-bottom: 5px; }
.block-cluster-9 { color: #d569a0; font-size: 19px; margin-bottom: 5px; }